body {
	background-image: url('./imgs/pianobackground.jpg');
}

.header {
	text-align: center;
	font-family: 'Source Sans Prop', sans-serif;
	font-size: 60px;
	color: white;
}

.composition {
	position: fixed;
	transform: translateX(440px);
}

.quarternote {
	height: 5%;
	width: 5%;
	display: flex;
	flex-wrap: 'wrap';
	float: left;
}

[data-note='C'] {
	transform: translateY(60px);
	z-index: 1;
}

[data-note='Csharp'] {
	transform: translateY(60px);
	z-index: 1;
}

[data-note='D'] {
	transform: translateY(50px);
	z-index: 1;
}

[data-note='Dsharp'] {
	transform: translateY(50px);
	z-index: 1;
}

[data-note='E'] {
	transform: translateY(40px);
	z-index: 1;
}

[data-note='F'] {
	transform: translateY(30px);
	z-index: 1;
}

[data-note='Fsharp'] {
	transform: translateY(30px);
	z-index: 1;
}

[data-note='G'] {
	transform: translateY(20px);
	z-index: 1;
}

[data-note='Gsharp'] {
	transform: translateY(20px);
	z-index: 1;
}

[data-note='A'] {
	transform: translateY(10px);
	z-index: 1;
}

[data-note='Asharp'] {
	transform: translateY(10px);
	z-index: 1;
}

[data-note='B'] {
	transform: translateY(-5px);
	z-index: 1;
}

[data-note='C2'] {
	transform: translateY(-13px);
	z-index: 1;
}

.staff {
	text-align: center;
}

#staff-img {
	height: 35%;
	width: 45%;
	z-index: -1;
}

.button-row {
	text-align: center;
	z-index: -1;
}

#play {
	background-color: #e7e7e7;
	color: black;
	font-size: 16px;
	margin-right: 15px;
	text-align: center;
	display: inline-block;
}

#save {
	background-color: #e7e7e7;
	color: black;
	font-size: 16px;
	margin-right: 15px;
	text-align: center;
	display: inline-block;
}

#clear {
	background-color: #e7e7e7;
	color: black;
	font-size: 16px;
	margin-right: 15px;
	text-align: center;
	display: inline-block;
}

.keys {
	height: 50%;
	width: 50%;
	margin: 20%;
	font-family: 'Source Sans Prop', sans-serif;
}

.white-keys {
	display: flex;
	flex-wrap: 'wrap';
	float: left;
	position: fixed;
	bottom: 10px;
	z-index: -1;
}

.black-keys {
	display: flex;
	flex-wrap: 'wrap';
	float: left;
	position: fixed;
	bottom: 135px;
}

#C {
	width: 100px;
	height: 250px;
	position: relative;
	background-color: #F9EBEA;
	border-style: solid;
	border-width: 3px;
}

	#C p {
		position: absolute;
		bottom: 0;
		font-weight: bold;
		font-size: 50px;
		padding-left: 35px;
	}

#D {
	width: 100px;
	height: 250px;
	position: relative;
	background-color: #F9EBEA;
	border-style: solid;
	border-width: 3px;
}

	#D p {
		position: absolute;
		bottom: 0;
		font-weight: bold;
		font-size: 50px;
		padding-left: 35px;
	}

#E {
	width: 100px;
	height: 250px;
	position: relative;
	background-color: #F9EBEA;
	border-style: solid;
	border-width: 3px;
}

	#E p {
		position: absolute;
		bottom: 0;
		font-weight: bold;
		font-size: 50px;
		padding-left: 35px;
	}

#F {
	width: 100px;
	height: 250px;
	position: relative;
	background-color: #F9EBEA;
	border-style: solid;
	border-width: 3px;
}

	#F p {
		position: absolute;
		bottom: 0;
		font-weight: bold;
		font-size: 50px;
		padding-left: 35px;
	}

#G {
	width: 100px;
	height: 250px;
	position: relative;
	background-color: #F9EBEA;
	border-style: solid;
	border-width: 3px;
}

	#G p {
		position: absolute;
		bottom: 0;
		font-weight: bold;
		font-size: 50px;
		padding-left: 35px;
	}

#A {
	width: 100px;
	height: 250px;
	position: relative;
	background-color: #F9EBEA;
	border-style: solid;
	border-width: 3px;
}

	#A p {
		position: absolute;
		bottom: 0;
		font-weight: bold;
		font-size: 50px;
		padding-left: 35px;
	}

#B {
	width: 100px;
	height: 250px;
	position: relative;
	background-color: #F9EBEA;
	border-style: solid;
	border-width: 3px;
}

	#B p {
		position: absolute;
		bottom: 0;
		font-weight: bold;
		font-size: 50px;
		padding-left: 35px;
	}

#C2 {
	width: 100px;
	height: 250px;
	position: relative;
	background-color: #F9EBEA;
	border-style: solid;
	border-width: 3px;
}

	#C2 p {
		position: absolute;
		bottom: 0;
		font-weight: bold;
		font-size: 50px;
		padding-left: 35px;
	}

#Csharp {
	width: 50px;
	height: 125px;
	position: relative;
	margin-left: 75px;
	background-color: #000000;
	color: white;
	border-style: solid;
	border-width: 3px;
	border-color: white;	
}

	#Csharp p {
		position: absolute;
		bottom: 0;
		font-weight: bold;
		font-size: 30px;
		padding-left: 10px;
	}

#Dsharp {
	width: 50px;
	height: 125px;
	position: relative;
	margin-left: 50px;
	background-color: #000000;
	color: white;
	border-style: solid;
	border-width: 3px;
	border-color: white;
}

	#Dsharp p {
		position: absolute;
		bottom: 0;
		font-weight: bold;
		font-size: 30px;
		padding-left: 10px;
	}

#Fsharp {
	width: 50px;
	height: 125px;
	position: relative;
	margin-left: 160px;
	background-color: #000000;
	color: white;
	border-style: solid;
	border-width: 3px;
	border-color: white;
}

	#Fsharp p {
		position: absolute;
		bottom: 0;
		font-weight: bold;
		font-size: 30px;
		padding-left: 10px;
	}

#Gsharp {
	width: 50px;
	height: 125px;
	position: relative;
	margin-left: 50px;
	background-color: #000000;
	color: white;
	border-style: solid;
	border-width: 3px;
	border-color: white;
}

	#Gsharp p {
		position: absolute;
		bottom: 0;
		font-weight: bold;
		font-size: 30px;
		padding-left: 10px;
	}

#Asharp {
	width: 50px;
	height: 125px;
	position: relative;
	background-color: #000000;
	margin-left: 50px;
	color: white;
	border-style: solid;
	border-width: 3px;
	border-color: white;
}

	#Asharp p {
		position: absolute;
		bottom: 0;
		font-weight: bold;
		font-size: 30px;
		padding-left: 10px;
	}